
//-------------------- Бургер --------------//
.header__burger {
	display: none;
	@media (max-width:767px){
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	
		&:before,
		&:after{
			content: '';
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			transition: 0.3s;
		}
		&:before{
			top: 0;
		}
		&:after{
			bottom: 0;
		}
		span{
			position: absolute;
			background-color: #fff;
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			top: 9px;
			transition: 0.3s;
		}

	}
	//-----------------Create .header__burger.active (делаем крестик при нажатии на бургер)-----------------//
	&.active:before {
	transform: rotate(45deg);
	top: 9px;	
}
	&.active:after {
	transform: rotate(-45deg);
	bottom: 9px;	
}
	&.active span {
	transform: scale(0);	
}
		
}

//-----------------Класс Lock для того что бы при вызваном менб бургер текст под ним (бургером) не скролился-------//
@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
}