@use "sass:math";
//Подключение миксинов-------------------------------------------------------------------------------------
@import "base/mixins";

//Элементы---------------------------------------------------------------------------------------------------
@import "javastyle/burger";
@import "components/logo";
@import "components/navigation";
// @import "javastyle/tabsStyle";
// @import "javastyle/swiper.min";
// @import "javastyle/accordion";
//@import "javastyle/popup";

//Подключение шрифтоф--------------------------------------------------------------------------------------
//@display-swap - добавить при подключении через плагин. Для Кирилици добавить &subset=cyrillic-ext
//@import url("");

//Подключение если есть локальные файлы шрифотов (включая иконочный шрифт)----------------------------------------------------------------------------
@import "fonts";

//Подключение иконочных шрифотов-----------------------------------------------------------------------------------
//Подключить если есть файлы шрифтов
//для подключения иконочных шрифтов
//1)Выгружаем нужные нам иконки в формате svg в папку savgicon
//2)Заходим на сайт Icons Mooon, добавляем иконки на сайт и генерируем
//3)Сохраняем имя файла icons
//4)В сохраненом файоике Icons нужны только .ttf и style.css
//5)Добавеляем .ttf в папку fonts
//6)В файле style.css копируем стили сгенрированых иконок и добавляем в сборку: папка icon файлик icons.scss
@import "icon/icons";

//Шрифт по умолчанию-----------------------------------------------------------------------------------------------
$fontFamily: "Vetka";
//Размер шрифта по умолчанию---------------------------------------------------------------------------------------
$fontSize: rem(
  16
); //где 16 - 16px --размер по умолчанию-----------------------------------------------------------

//Максимальный размер мексина adaptive-value макета----------------------------------------------------------------
$maxWidth: 1920;
//Максимальный размер мексина adaptive-value контейрера------------------------------------------------------------
$maxWidthcontainer: 1180;

//Переменные адаптива----------------------------------------------------------------------------------------------
$md1: $maxWidthcontainer;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

//Максимальный размер контейнера-----------------------------------------------------------------------------------
/*$containerWidth:rem(1180);*/
//Отступы безопасности контейнера----------------------------------------------------------------------------------
$containerPadding: 0 rem(15);

//Основной цвет текста---------------------------------------------------------------------------------------------
$mainColor: black;

//Обнуление стилей------------------------------------------------------------------------------------------
@import "base/nullstyle";

//Оболочка сайта (footer прибит к низу)----------------------------------------------------------------------------------------------------
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 1 auto;
}

//Контейнер ---------------------------------------------------------------------------------------------------
.container {
  max-width: rem($maxWidthcontainer);
  margin: 0 auto;
  padding: $containerPadding;
}

//Адаптивная сетка---------------------------------------------
/*
@media (max-width: rem($maxWidthcontainer)){
	max-width: 970px;
}
@media (max-width: $md2){
	max-width: 750px;
}
@media (max-width: $md3){
	max-width: 0;
}
}
*/

//Подключение основных блоков-------------------------------------------------------------------------------
@import "header";
@import "pages/home";
@import "footer";
